<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BLCaptionBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6F3563D1E10F31200ABA458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F356561E10F31300ABA458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6F356611E10F31300ABA458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
